<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction and Background</h2>
<div class="summary">
  <p>I am currently involved with contract work providing web based solutions to various industries including gas stations, health-care providers and renovation contractors.</p>
  <p>I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases. I have a passion for learning new technologies and trends in web development and associated fields.</p>
</div><!--//summary-->
</section><!--//section-->