<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Contract/Freelance Work</h3>
        <div class="time">1999 &#8211; Present</div>
      </div>
      <div class="company">Webbtech</div>
    </div>
    <div class="details">
      <p>Provide custom web applications specifically tailored to clients requirements. Solutions are built using a SPA (single page application) architecture for mobile and web use.</p>
      <ul>
        <li>Application front-end/UI utilize React and React Native</li>
        <li>Back-end/API are built using Graphql and NodeJS</li>
        <li>Micro-services are built using Golang and Docker</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Lead Developer</h3>
        <div class="time">2011</div>
      </div>
      <div class="company">Shorthill Solutions, Fonthill ON.</div>
    </div>
    <div class="details">
      <p>Lead developer and team leader for a group of developers based out of Chile.</p>
      <ul>
        <li>Zend Framework</li>
        <li>MySQL DB</li>
        <li>MongoDB DB</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Senior Developer</h3>
        <div class="time">2000 &#8211; 2002</div>
      </div>
      <div class="company">Tri-media, Welland ON.</div>
    </div>
    <div class="details">
      <p>Developed custom CMS solutions and an online Hotel Reservation system.</p>
      <ul>
        <li>Scratch built PHP CMS</li>
        <li>MySQL DB</li>
      </ul>
    </div>
  </div>

</section>