<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-user-plus"></i>Other Experience</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Skydiving Competition</h3>
        <div class="time"> </div>
      </div>
      <div class="company">Four-way Sequential</div>
    </div>
    <div class="details">
      <ul>
        <li>1987 Ontario Provincials</li>
        <li>1987 Canadian Nationals</li>
        <li>1989 Ontario Provincials</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Skydiving Instructor</h3>
        <div class="time">1990 &#8211; 1996</div>
      </div>
      <div class="company">First Jump Course Training & PFF Instruction</div>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">President - St. Catharines Parachute Club</h3>
        <div class="time">1992 &#8211; 1996</div>
      </div>
      <div class="company">Sat on Board of Directors serving as president for 4 years.</div>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Father</h3>
        <div class="time">1994 &#8211; Present</div>
      </div>
      <div class="company">My Son</div>
      <div class="details">^--Absolute best!</div>
    </div>
  </div>

</section>

<a href="#top">back to top</a>