<section class="section projects-section">
  <h2 class="section-title" id="clients-and-projects"><i class="fa fa-archive"></i>Clients &amp; Projects</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">CBT Niagara</h3>
        <div class="time">2016 &#8211; 2017</div>
      </div>
      <div class="company">Apollo Graphql, Docker, Golang, MongoDB, NodeJS, React</div>
    </div>
    <div class="details">

    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Universal Windows</h3>
        <div class="time">2016 &#8211; Present</div>
      </div>
      <div class="company">Golang, MongoDB, NodeJS, React Native</div>
    </div>
    <div class="details">

    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Gales Gas Sales</h3>
        <div class="time">2013 &#8211; Present</div>
      </div>
      <div class="company">Golang, MongoDB, NodeJS, React</div>
    </div>
    <div class="details">
      <p><a href="http://gales.ca" target="_blank">Gales</a> is a gas and fuel company in the Niagara Region of ON. CA. In 2013 I was presented with the task of modernizing their data collection for the 16 locations currently in operation. After a few iterations using Filemaker I proposed a web based approach and we embarked on the development of two applications and several micro-services.</p>
      <ul>
        <li>SPA with React Redux UI</li>
        <li>Hapi NodeJS API</li>
        <li>Golang Docker Micro-services</li>
        <li>MongoDB NoSQL DB</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Internal IaC Project</h3>
        <div class="time">2016 &#8211; Present</div>
      </div>
      <div class="company">AWS, Terraform</div>
    </div>
    <div class="details">
      <p>After deciding to update my server infastructure utilizing IaC (Infastructure as Code) I did some research and settled on <a href="https://www.terraform.io/" target="_blank">Terraform</a> as the tool. The switch from manually firing up and configuring AWS EC2 instances to using a sophisticated tool like Terraform required an investment in time but certainly well worth the effort even for a fairly small infastructure. Now I'm able to test all my changes in a test environment before deploying to production knowing I won't break and legacy applications are now issolated and can be upgraded without concern for how other apps might be affected.</p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Niagara Prehung Doors</h3>
        <div class="time">2013 &#8211; 2015</div>
      </div>
      <div class="company">AngularJS, Grape, Golang, MongoDB</div>
    </div>
    <div class="details">
      <p>Niagara Prehung Doors is a manufacturer and distributer for residential custom exterior doors. Initially I created a Filemaker application to provides quotes and manage sales. As requirements grew so did the limits of Filemaker. A decision was made to convert the project to a web based application so that we could take advantage of all that a web application has to offer. Features like securely sending PDF quotes that could be revised and versioned as their customers made changes to their selections was made possible.</p>
      <ul>
        <li>SPA with Angular UI</li>
        <li>Ruby Grape API</li>
        <li>MongoDB NoSQL DB</li>
        <li>Golang Google API to interface with Google Calendar</li>
        <li>Golang AWS SDK to interface with the AWS SES and S3 services</li>
        <li>Golang gofpdf library to create PDF files</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">The Teachable Project</h3>
        <div class="time">2012 &#8211; 2013</div>
      </div>
      <div class="company">AngularJS, Zend Framework</div>
    </div>
    <div class="details">
      <p><a href="http://theteachableproject.org" target="_blank">The Teachable Project</a> is a fully bilingual site commissioned by the Ontario Educational Services Corporation to educate teachers and students on Accessibility Awareness.</p>
      <p>A custom CMS was built to allow the content providers to enter data with a simple to use interface, uploading image files and converting markdown to HTML.</p>
      <ul>
        <li>AngularJS</li>
        <li>Zend Framework</li>
        <li>MongoDB NoSQL DB</li>
      </ul>
    </div>
  </div>
</section>