<section class="section projects-section">
  <h2 class="section-title" id="clients-and-projects"><i class="fa fa-archive"></i>Clients &amp; Projects</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">CBT Niagara</h3>
        <div class="time">2017 (6 wks)</div>
      </div>
      <div class="company">Apollo Graphql, Golang, MongoDB, NodeJS, React</div>
    </div>
    <div class="details">
      <p><a href="http://cbtniagara.com/" target="_blank">CBT Niagara</a> is a cognitive-behaviour therapy clinic. I was approached by them to provide a simpler and easy to use patient scheduling solution than the larger medical institution based ones available. I created an SPA utilizing <a href="https://material.io/" target="_blank">Material Design</a> components to fulfill their requirements. The receptionist/secretary is a much happier person as the tedious work of transferring data from paper forms is now eliminated and the practitioners enter their respective data into the application.</p>
      <ul>
        <li>SPA with React Redux UI</li>
        <li>Apollo Graphql client</li>
        <li>Hapi NodeJS Graphql server</li>
        <li>MongoDB NoSQL DB</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Universal Windows</h3>
        <div class="time">2016 &#8211; Present</div>
      </div>
      <div class="company">AWS Lambda, Golang, MongoDB, NodeJS, React Native</div>
    </div>
    <div class="details">
      <p><a href="http://universalwindows.ca" target="_blank">Universal Windows</a> is a local window replacement company. Much of the owners time is spent meeting with home owners and creating quotes. To facilitate this effort I created a web based React Native application for the owners iPad. The owner is exceptionally happy with the level of detail he is able to record eliminating costly mistakes when missed. Potential customers receive a PDF quote via email that is versioned so that both parties can track changes.</p>
      <ul>
        <li>React Native IOS App</li>
        <li>Hapi NodeJS API</li>
        <li>Golang written AWS Lambda Functions deployed with Apex</li>
        <li>MongoDB NoSQL DB</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Gales Gas Sales</h3>
        <div class="time">2013 &#8211; Present</div>
      </div>
      <div class="company">Golang, MongoDB, NodeJS, React</div>
    </div>
    <div class="details">
      <p><a href="http://gales.ca" target="_blank">Gales</a> is a gas and fuel company in the Niagara Region of ON. CA. In 2013 I was presented with the task of modernizing their data collection for the 16 locations currently in operation. After a few iterations using Filemaker I proposed a web based approach and we embarked on the development of two applications and several micro-services.</p>
      <ul>
        <li>SPA with React Redux UI</li>
        <li>Hapi NodeJS API</li>
        <li>Golang Docker Micro-services</li>
        <li>MongoDB NoSQL DB</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Internal IaC Project</h3>
        <div class="time">2016 &#8211; Present</div>
      </div>
      <div class="company">AWS, Terraform</div>
    </div>
    <div class="details">
      <p>After deciding to update my server infrastructure utilizing IaC (Infrastructural as Code) I did some research and settled on <a href="https://www.terraform.io/" target="_blank">Terraform</a> as the tool. The switch from manually firing up and configuring AWS EC2 instances to using a sophisticated tool like Terraform required an investment in time but certainly well worth the effort even for a fairly small infrastructure. Now I'm able to test all my changes in an isolated test environment before deploying to production knowing it won't break. Legacy applications are also well isolated and can be upgraded without concern for how other apps might be affected.</p>
    </div>
    <ul>
        <li>Terraform</li>
        <li>Amazon Web Services</li>
      </ul>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Niagara Prehung Doors</h3>
        <div class="time">2013 &#8211; 2015</div>
      </div>
      <div class="company">AngularJS, Grape, Golang, MongoDB</div>
    </div>
    <div class="details">
      <p>Niagara Prehung Doors is a manufacturer and distributer of residential custom exterior doors. Initially I created a Filemaker application to provide quotes and manage sales. As requirements grew so did the limits of Filemaker. A decision was made to convert the project to a web based application so that we could take advantage of all that a web application has to offer. Features like securely sending PDF quotes that can be revised and versioned as customers make changes to their selections is now possible.</p>
      <ul>
        <li>SPA with Angular UI</li>
        <li>Ruby Grape API</li>
        <li>MongoDB NoSQL DB</li>
        <li>Golang Google API to interface with Google Calendar</li>
        <li>Golang AWS SDK to interface with the AWS SES and S3 services</li>
        <li>Golang gofpdf library to create PDF files</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">The Teachable Project</h3>
        <div class="time">2012 &#8211; 2013 (approx. 7 mths)</div>
      </div>
      <div class="company">AngularJS, Zend Framework</div>
    </div>
    <div class="details">
      <p><a href="http://theteachableproject.org" target="_blank">The Teachable Project</a> is a fully bilingual site commissioned by the Ontario Educational Services Corporation to educate teachers and students on Accessibility Awareness.</p>
      <p>A custom CMS was built to allow staff to enter data with a simple to use interface, uploading image files and converting markdown to HTML.</p>
      <ul>
        <li>AngularJS</li>
        <li>Zend Framework</li>
        <li>MongoDB NoSQL DB</li>
      </ul>
    </div>
  </div>
</section>
