<section class="skills-section section">
  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
  <div class="skillset">
    <div class="item">
      <h3 class="level-title">React &amp; React Native</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%"></div>
      </div>
    </div>

    <div class="item">
        <h3 class="level-title">Javascript &amp; ES6</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="80%">
            </div>
        </div>
    </div>

    <div class="item">
        <h3 class="level-title">Angular</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="85%">
            </div>
        </div>
    </div>

    <div class="item">
        <h3 class="level-title">HTML5 &amp; CSS</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="85%">
            </div>
        </div>
    </div>

    <div class="item">
        <h3 class="level-title">NodeJS</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="65%">
            </div>
        </div>
    </div>

    <div class="item">
        <h3 class="level-title">PHP</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
        </div>
    </div>

    <div class="item">
        <h3 class="level-title">Ruby</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="65%">
            </div>
        </div>
    </div>

    <div class="item">
        <h3 class="level-title">Sketch &amp; Photoshop</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="55%">
            </div>
        </div>
    </div>
  </div>
</section><!--//skills-section-->